/* Your Website Styles */

body { 
	background: url("../img/ecailles-c.png") repeat;
}  

.gallery {
	display: block;
	margin: 0 auto;
	width: 100%;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

h1 {
	font: 400 3.5em/125% 'Berkshire Swash', Helvetica, Sans-serif;
	color: #E2B1AA;
	text-align: center;
}

h3 {
	font-family: 'Rokkitt', serif;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-family: 'Rokkitt', serif;
	color: #0A002A;
	font-size: 1.25em;
}

img {
	height: 640px;

}


/*colors

#F3DBCB

#EFAFB3

#EBC5B9

#0A002A

#BF070F

*/